Repository netobserv/flowlogs-pipeline, pull requests merged in 2024-02, with the labels that each got.

#606 Add test on IPFIX writer
  Makefile
  pkg/pipeline/write/testnorace/write_ipfix_test.go
  pkg/pipeline/write/write_ipfix.go
Labels: no-qe, no-doc, lgtm, approved

#590 Refactor metrics
  pkg/pipeline/encode/encode_prom.go
  pkg/pipeline/encode/encode_prom_test.go
  pkg/pipeline/encode/metrics_common.go
  pkg/pipeline/encode/opentelemetry/encode_otlp_test.go
  pkg/pipeline/encode/opentelemetry/encode_otlpmetrics.go
  pkg/pipeline/encode/prom_cache_test.go
Labels: code-refactor, lgtm

#602 NETOBSERV-1425: enhance metrics filters
  docs/api.md
  pkg/api/api.go
  pkg/api/encode_prom.go
  pkg/pipeline/encode/encode_prom_metric.go
  pkg/pipeline/encode/encode_prom_test.go
Labels: breaking-change, lgtm, approved, jira/valid-reference

#613 API cleanup: remove deprecated metric.filter
  cmd/flowlogs-pipeline/main_test.go
  docs/api.md
  pkg/api/encode_prom.go
  pkg/config/pipeline_builder_test.go
  pkg/pipeline/aggregate_prom_test.go
  pkg/pipeline/encode/encode_prom_metric.go
  pkg/pipeline/encode/encode_prom_test.go
Labels: breaking-change, no-qe, no-doc, lgtm

#603 Add new field to ipfix exporter for flowRtt
  pkg/pipeline/write/testnorace/write_ipfix_test.go
  pkg/pipeline/write/write_ipfix.go
Labels: ok-to-test, lgtm, approved, needs-ok-to-test

#615 (trivial) Report error when Kafka connection is broken
  pkg/pipeline/ingest/ingest_kafka.go
Labels: lgtm, approved
